<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL SHRINKER</title>
    <link rel="icon" href="/img/logg.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/1dc77e3122.js" crossorigin="anonymous"></script>
</head>
<body>
        <nav class="navbar navbar-expand-md bg-danger navbar-light">
            <a href="/" class="navbar-brand text-light font-weight-bold ml-3">
                <h5 class="text-dark"><i class="fas fa-link text-dark fa-2x mr-2"></i>URL SHRINKER</h5> 
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ml-5" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item mt-3 mr-3">
                    <a class="nav-link font-weight-bold text-light" href="/"><h5>HOME</h5></a>
                  </li>

                  <li class="nav-item mt-3">
                    <a class="nav-link font-weight-bold text-light" href="/about"><h5>ABOUT</h5></a>
                  </li>
                </ul>
              </div>
        </nav>

         <div class="container mt-5">
            <p>ShortURL allows to reduce long links from Facebook, YouTube, Twitter, Linked In and top sites on the Internet, just paste the long URL and click the Shorten URL button. On the next screen, copy the shortened URL and share it on websites, chat and e-mail. After shortening the URL, check how many clicks it received.</p>      
            <p>Your shortened URLs can be used in publications, advertisements, blogs, forums, e-mails, instant messages, and other locations. Track statistics for your business and projects.</p>
        </div>

        <footer class="text-center">
            <h5 class="text-secondary">© Copyright 2020 - Sarfaraz Ansari - All rights reserved</h5>
        </footer>
        
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>